<legend><i class="fa fa-edit"></i> <span>Editar Pedido</span></legend>
<form id="formEditOrder" action="#">
	<div class="row">
		<div class="col-xs-12 col-md-3">
			<label>Nro. de Pedido</label>
			<input id="idOrder" class="form-control" autofocus required/>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<button class="btn btn-primary" type="submit"><span class="fa fa-edit fa-x5"></span> Editar Pedido</button>
		</div>

	</div>
</form>

<script src="app/controller/editOrder/editOrder.js" async='false'></script>