<legend><span class="fa fa-phone"></span> Contactanos:</legend>
<div class="row">
    <div class="col-lg-5 col-lg-offset-1 text-center">
        <div class="panel panel-primary">
            <div class="panel-heading text-center"> <h4><strong>Alimentos y Servicios HB</strong></h4></div>
            <div class="panel body">


                           
                    <br>
                    <p>Calle 10B Sur Nro. 51-89 Medellín.</p>
                    <ul class="list-unstyled">
                    <hr class="small">
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:alimentosyservicios.hb@gmail.com">alimentosyservicios.hb@gmail.com</a>
                        </li>
                    <hr class="small">
                        <li><i class="fa fa-phone fa-fw"></i>  448 69 18</li>
                    </ul>
                    <br>
                    <ul class="list-inline" style="display:none">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <p class="text-muted" style="display:none">Copyright © Dg4apps.com</p>
            </div>
        </div>

    </div>
</div>
