<span class="col-md-4 col-xs-0"></span>

<form class="form-signin col-md-4 col-xs-12" id="formLogin">
  <h2 class="form-signin-heading text-muted">Sipa 2.0</h2>

  
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
    <input type="text" class="form-control" placeholder="Usuario" aria-describedby="basic-addon1" id="user">
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"></span></span>
    <input type="password" class="form-control" placeholder="Contraseña" aria-describedby="basic-addon1" id="pass">
  </div>


  <div class="checkbox text-muted">
    <label>
      <input type="checkbox" value="remember-me"> Recordar
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
</form>

<span class="col-md-4 col-xs-0"></span>

<script src="app/model/home/login.js" async='false'></script>
<script src="app/controller/home/login.js" async='false'></script>