<legend>
    <i class="glyphicon glyphicon-inbox"></i> 
    Entrada 
    <i class='btn btn-default fa fa-refresh pull-right' title='Refrescar resultados.' id="refreshResults" ></i>
    <i class='btn btn-default fa fa-flag-checkered pull-right green' title='Aprobar todos los pedidos.' id="aproveAll" style="display: none;"></i>
    <i class="fa fa-check" aria-hidden="true"></i>
</legend>

<div class="table-responsive" id="mainTableContainer">
    <table align="center" border="0" rules="" class="table table-striped" id="mainTable">
        <thead>
            <tr>
                <th>Estado</th>
                <th></th>
                <th>Sec</th>
                <th>#</th>
                <th>Tipo</th>
                <th>Item</th>
                <th>Cant</th>
                <th>Valor Pedido</th>
                <th>Fecha Entrega</th>
                <th>Hora Entrega</th>
                <th>Dirección</th>
                <th>Presupuesto</th>
                <th>Recibe</th>
                <th>Observación</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script src="app/model/home/main.js" async='false'></script>
<script src="app/controller/home/main.js" async='false'></script>

