<legend>
    
    <i class='btn btn-default fa fa-refresh pull-right blue' title='Refrescar resultados.' id="refreshResults" ></i>
    <i class='btn btn-default fa fa-flag-checkered pull-right green' title='Aprobar todos los pedidos.' id="aproveAll" style="display: none;"></i>
    
</legend>
<ul class="nav nav-tabs" >
    <li id="tab1" class="tabsMain active">
        <a href="#"><i class="glyphicon glyphicon-inbox"></i> 
            Pendientes por Aprobar 
            <span class="badge">0</span>
        </a>
    </li>
    <li id="tab2" class="tabsMain" style="display: none;" >
        <a href="#"><i class="fa fa-check" aria-hidden="true"></i>Aprobados Recientemente <span class="label label-success label-as-badge">0</span></a>
    </li>
    <li id="tab3" class="tabsMain" style="display: none;">
        <a href="#"><i class="fa fa-truck" aria-hidden="true"></i> Pedidos para Mañana <span class=" label label-success label-as-badge">0</span></a>
    </li>
</ul>
<div id="container3" class="tabsContainers" style="display:none">
    
</div>
<div id="container2" class="tabsContainers" style="display:none">
    
</div>
<div id="container1" class="tabsContainers">
    
</div>

<script src="app/model/home/main.js" async='false'></script>
<script src="app/controller/home/main.js" async='false'></script>

<div class="table-responsive" id="mainTableTemplate" style="display:none">
        <table align="center" border="0" rules="" class="table table-striped" id="mainTable">
            <thead>
                <tr>
                    <th onclick='$.each($(".status"),function(i, e){var $e=$(e); setTimeout(function(){$e.click()},i*500);});'>Estado</th>
                    <th></th>
                    <th class='hide'>Sec</th>
                    <th>#</th>
                    <th>Tipo</th>
                    <th>Item</th>
                    <th>Cant</th>
                    <th>Valor Pedido</th>
                    <th>Fecha Entrega</th>
                    <th>Hora Entrega</th>
                    <th>Dirección</th>
                    <th>Presupuesto</th>
                    <th>Recibe</th>
                    <th>Observación</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>