<legend><i class="glyphicon glyphicon-inbox"></i> Entrada</legend>



<div class="container">
    <h4>
        <span class='btn btn-default pull-right' title="Actualizar Resultados" id="updateResults">
            <i class="fa fa-refresh " ></i>
        </span>
        Pedidos Pendientes por Aprobar: <span id="countPend">0</span> 
    </h4>
</div>
<table align="center" border="0" rules="" class="table table-striped" id="mainTable">
    <thead>
        
        <tr>
            <th>Acción</th>
            <th>Sec</th>
            <th>#</th>
            <th>Tipo</th>
            <th>Item</th>
            <th>Cant</th>
            <th>Valor Pedido</th>
            <th>Fecha Entrega</th>
            <th>Hora Entrega</th>
            <th>Dirección</th>
            <th>Presupuesto</th>
            <th>Recibe</th>
            <th>Observación</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


<script src="app/model/home/main.js" async='false'></script>
<script src="app/controller/home/main.js" async='false'></script>
