<div class="row">
	<img src="img/excel.png" class="btn btn-default pull-right hidden-xs" width="50" title="Exportar a excel" onclick="general.exportToExcel($('#report4-table'))">
</div>	
<div class="table-responsive">
	<table class="table  table-condensed table-hover" id="report4-table">
		<thead>
			<tr class="primary">
				<th>Secretaría</th>
				<th>Proyecto</th>
				<th>Compromiso</th>
				<th>Nombre Proyecto</th>
				<th>Valor inicial</th>
				<th>Valor Pedido</th>
				<th>Valor Disp. Para Pedidos</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>