<form id="formNewOrder" action="#">
	
<legend id="reportHead">
	<i class="fa fa-bar-chart"></i>
	<span>Reportes</span>
	<span id="tabMain" class="tab btn" title="Ver reporte" style="display: none;">
		<span class="name">Ver Todos </span>
		<button type="button" class="close" ><span aria-hidden="true">&times;</span></button>
	</span>
</legend><br>
<div id="tabSet" class="container text-center">
	<div id="tabBodyMain" class="tabBody text-left">
		<ul class="squareList">
			<li data-html="report1">
				<span class="fa fa-bar-chart" ></span> 
				<span class="nameReport"> 1. Item: </span>
				<div>Reporte de Consumo por Secretaría</div>
			</li>
			<li data-html="report2">
				<span class="fa fa-bar-chart" ></span> 
				<span class="nameReport"> 2. Mensual</span>
				<div>Reporte de Consumo por Secretaría</div>
			</li>
			<li data-html="report3">
				<span class="fa fa-bar-chart" ></span> 
				<span class="nameReport"> 3. Presupuesto</span>
				<div>Reporte de Consumo por Secretaría</div>
			</li>
			<li data-html="report4">
				<span class="fa fa-bar-chart" ></span> 
				<span class="nameReport"> 4. Por Proyectos</span>
				<div>Reporte de Consumo por Secretaría</div>
			</li>
			<li data-html="report5">
				<span class="fa fa-bar-chart" ></span> 
				<span class="nameReport"> 5. Saldo Por Proy</span>
				<div>Reporte de Consumo por Secretaría</div>
			</li>
			<li data-html="report6">
				<span class="fa fa-bar-chart" ></span> 
				<span class="nameReport"> 6. Por Secretarías</span>
				<div>Reporte de Consumo por Secretaría</div>
			</li>
		</ul>
	</div>
</div>

<!----------------templates-->

<div id="tabBodyTemplate" class="tabBody" style="display:none">
	
</div>

<script src="app/model/reports/reports.js" async='false'></script>
<script src="app/controller/reports/reports.js" async='false'></script>