<form id="report2-form" action="#">
	<div class="row">
		<div class="col-xs-12 col-md-2">
			<label>Fecha de Entrega <br class="hidden-xs"><span class="text-muted">(Desde-Hasta)</span></label>
		</div>
		<div class="col-xs-12 col-md-3">
			<input id="report2-ini" placeholder="Desde" type="date" class="form-control" maxlength="50" title="Desde" />
		</div>		
		<div class="col-xs-12 col-md-3">
			<input id="report2-end" placeholder="Hasta" type="date" class="form-control" maxlength="50" title="Hasta"/>
		</div>
		<div class="col-xs-12 col-md-4">
			<button class="btn btn-primary " type="submit" title="">
				<span class="fa fa-search"></span> 
				Buscar
			</button>
			<button class="btn btn-default " type="reset" title="">
				<span class="fa fa-refresh"></span> 
				Reiniciar Filtros
			</button>
		<img src="img/excel.png" class="btn btn-default pull-right hidden-xs" width="50" title="Exportar a excel" onclick="general.exportToExcel($('#report2-table'))">
		</div>
	</div>
</form>

<div class="table-responsive">
	<table class="table table-condensed table-hover" id="report2-table">
		<thead>
			<tr class="info">
				<th>Pedido</th>
				<th>Item</th>
				<th>Cantidad</th>
				<th>Valor</th>
				<th>Fecha Entrega</th>
				<th>Proyecto-Pedido</th>
				<th>Dependencia</th>
				<th>Consumo</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>