<form id="formNewOrder" action="#">
	
<legend>Reportes</legend>
<ul class="squareList">
	<li><span class="fa fa-bar-chart"></span> 1. Item: <div>Reporte de Consumo por Secretaría</div></li>
	<li><span class="fa fa-bar-chart"></span> 2. Mensual</li>
	<li><span class="fa fa-bar-chart"></span> 3. Presupuesto
	<li><span class="fa fa-bar-chart"></span> 4. Por Proyectos</li>
	<li><span class="fa fa-bar-chart"></span> 5. Saldo Por Proy</li>
	<li><span class="fa fa-bar-chart"></span> 6. Por Secretarías</li>
</ul>

<!--
<script src="app/model/reports/reports.js" async='false'></script>
<script src="app/controller/reports/reports.js" async='false'></script>
-->