<form id="report-item-form" action="#">
	<div class="row">
		<div class="col-xs-12 col-md-2">
			<label>Fecha de Entrega <br class="hidden-xs"><span class="text-muted">(Desde-Hasta)</span></label>
		</div>
		<div class="col-xs-12 col-md-3">
			<input id="report-item-ini" placeholder="Desde" type="date" class="form-control" maxlength="50" title="Desde" />
		</div>		
		<div class="col-xs-12 col-md-3">
			<input id="report-item-end" placeholder="Hasta" type="date" class="form-control" maxlength="50" title="Hasta"/>
		</div>
		<div class="col-xs-12 col-md-4">
			<button class="btn btn-primary " type="submit" title="">
				<span class="fa fa-search"></span> 
				Buscar
			</button>
			<button class="btn btn-default " type="reset" title="">
				<span class="fa fa-refresh"></span> 
				Reiniciar Filtros
			</button>
		</div>
	</div>
</form>

<div class="table-responsive">
	<table class="table table-striped table-bordered table-condensed table-hover" id="report-item-table">
		<thead>
			<tr class="info">
				<th>Item</th>
				<th>Secretaría</th>
				<th>Cant. Pedidos</th>
				<th>Valor Pedido</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>