<form id="formSearch" action="#" class="">
	<legend><i class="fa fa-search"></i> Consulta General de Pedidos</legend>

	<div class="row">
		<div class="col-xs-12 col-md-2">
			<label>Nro. Pedido <br class="hidden-xs"><span class="text-muted">(Desde-Hasta)</span></label>
		</div>
		<div class="col-xs-12 col-md-2">
			<input id="numberOrderFrom" placeholder="Desde" type="number" class="form-control" maxlength="50" autofocus/>
		</div>
		<div class="col-xs-12 col-md-2">
			<input id="numberOrderTo" placeholder="Hasta" type="number" class="form-control" maxlength="50" />
		</div>
		<div class="col-xs-12 col-md-2">
			<label>Tipo de Pedido</label>
		</div>
		<div class="col-xs-12 col-md-4">
			<select id="typeOrder" class="form-control" >
			</select>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-12 col-md-2">
			<label>Fecha de Pedido <br class="hidden-xs"><span class="text-muted">(Desde-Hasta)</span></label>
		</div>
		<div class="col-xs-12 col-md-2">
			<input id="creationDateFrom" placeholder="Desde" type="date" class="form-control" maxlength="50" title="Desde" />
		</div>
		<div class="col-xs-12 col-md-2">
			<input id="creationDateTo" placeholder="Hasta" type="date" class="form-control" maxlength="50" title="Hasta"/>
		</div>

		<div class="col-xs-12 col-md-2">
			<label>Fecha de Entrega <br class="hidden-xs"><span class="text-muted">(Desde-Hasta)</span></label>
		</div>
		<div class="col-xs-12 col-md-2">
			<input id="deliveryDateFrom" placeholder="Desde" type="date" class="form-control" maxlength="50" title="Desde" />
		</div>		
		<div class="col-xs-12 col-md-2">
			<input id="deliveryDateTo" placeholder="Hasta" type="date" class="form-control" maxlength="50" title="Hasta"/>
		</div>
	</div>
	<hr class="hidden-xs">
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<label>Dependencia</label>
			<select id="dependence" class="form-control"  >
			</select>
		</div>
		<div class="col-xs-12 col-md-4">
			<label>Presupuesto</label>
			<select id="budget" class="form-control" >
			</select>
		</div>
		<div class="col-xs-12 col-md-4">
			<label>Estado</label>
			<select id="statusOrder" class="form-control" >
			</select>
		</div>
	</div>

	<br>
	<br>
	<br>
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<button class="btn btn-primary " type="submit" title="">
				<span class="fa fa-search"></span> 
				Buscar
			</button>
			<button class="btn btn-default " type="reset" title="">
				<span class="fa fa-refresh"></span> 
				Reiniciar Filtros
			</button>
		</div>
	</div>

</form>
<hr>


<table id="resultsTemplate" class="table table-striped table-hover" style="display: none">
  <thead>
    <tr title="Ordenar">
      <th >Acción</th>
      <th data-order-asc="true" data-order-this="false" data-order-by="ped.estado" >
      	Estado
      	<i class="fa fa-sort"></i>
      </th>
      <th data-order-asc="true" data-order-this="true" data-order-by="ped.id" >
      	Nro. Pedido
      	<i class="fa fa-sort"></i>
      </th>
      <th data-order-asc="true" data-order-this="false" data-order-by="ppto.idsecretaria" >
      	Secretaria
      	<i class="fa fa-sort"></i>
      </th>
      <th data-order-asc="true" data-order-this="false" data-order-by="" >
      	Persona Recibe
      	<i class="fa fa-sort"></i>
      </th>
      <th data-order-asc="true" data-order-this="false" data-order-by="tali.talimento" >
      	Tipo
      	<i class="fa fa-sort"></i>
      </th>
      <th data-order-asc="true" data-order-this="false" data-order-by="ali.nombre" colspan="2" >
      	Item
      	<i class="fa fa-sort"></i>
      </th>
      <th data-order-asc="true" data-order-this="false" data-order-by="ped.cantidad" >
      	Cantidad
      	<i class="fa fa-sort"></i>
      </th>
      <th data-order-asc="true" data-order-this="false" data-order-by="ped.valorpedido" >
      	Valor Pedido
      	<i class="fa fa-sort"></i>
      </th>
      <th data-order-asc="true" data-order-this="false" data-order-by="ped.fchentrega" >
      	Fecha Entrega
      	<i class="fa fa-sort"></i>
      </th>
      <th data-order-asc="true" data-order-this="false" data-order-by="ped.hora" >
      	Hora Entrega
      	<i class="fa fa-sort"></i>
      </th>
      <th data-order-asc="true" data-order-this="false" data-order-by="ped.direccion" >
      	Dirección
      	<i class="fa fa-sort"></i>
      </th>
      <th data-order-asc="true" data-order-this="false" data-order-by="ppto.nombre" >
      	Presupuesto
      	<i class="fa fa-sort"></i>
      </th>
      <th data-order-asc="true" data-order-this="false" data-order-by="fchreg" >
      	Fecha de Pedido
      	<i class="fa fa-sort"></i>
      </th>
      <th data-order-asc="true" data-order-this="false" data-order-by="ped.comentario" >
      	Observación
      	<i class="fa fa-sort"></i>
      </th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<div class="content-pagination pull-right" id="pagination" style="display: ">
    <ul class="pagination pagination-sm">
      <li><a href="javascript:;" data-page="0" title="First">&laquo;</a></li>
      <li class="active"><a href="javascript:;" data-page="0">1</a></li>
      <li class=""><a href="javascript:;" data-page="1">2</a></li>
      <li><a href="javascript:;" data-page="0" title="Last">&raquo;</a></li>
    </ul>
</div>

<script src="app/model/search/search.js" async='false'></script>
<script src="app/controller/search/search.js" async='false'></script>