<form id="formSearch" action="#" class="">
	<legend><i class="fa fa-search"></i> Consulta General de Pedidos</legend>

	<div class="row">
		<div class="col-xs-12 col-md-2">
			<label>Nro. Pedido <br class="hidden-xs"><span class="text-muted">(Desde-Hasta)</span></label>
		</div>
		<div class="col-xs-12 col-md-2">
			<input id="numberOrderFrom" placeholder="Desde" type="number" class="form-control" maxlength="50" autofocus/>
		</div>
		<div class="col-xs-12 col-md-2">
			<input id="numberOrderTo" placeholder="Hasta" type="number" class="form-control" maxlength="50" />
		</div>
		<div class="col-xs-12 col-md-2">
			<label>Tipo de Pedido</label>
		</div>
		<div class="col-xs-12 col-md-4">
			<select id="typeOrder" class="form-control" >
				<option value="null">Seleccione una opción</option>
			</select>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-12 col-md-2">
			<label>Fechas de Elaboración <br class="hidden-xs"><span class="text-muted">(Desde-Hasta)</span></label>
		</div>
		<div class="col-xs-12 col-md-2">
			<input id="creationDateFrom" placeholder="Desde" type="date" class="form-control" maxlength="50" title="Desde" />
		</div>
		<div class="col-xs-12 col-md-2">
			<input id="creationDateTo" placeholder="Hasta" type="date" class="form-control" maxlength="50" title="Hasta"/>
		</div>

		<div class="col-xs-12 col-md-2">
			<label>Fechas de Entrega <br class="hidden-xs"><span class="text-muted">(Desde-Hasta)</span></label>
		</div>
		<div class="col-xs-12 col-md-2">
			<input id="deliveryDateFrom" placeholder="Desde" type="date" class="form-control" maxlength="50" title="Desde" />
		</div>		
		<div class="col-xs-12 col-md-2">
			<input id="deliveryDateTo" placeholder="Hasta" type="date" class="form-control" maxlength="50" title="Hasta"/>
		</div>
	</div>
	<hr class="hidden-xs">
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<label>Dependencia</label>
			<select id="dependence" class="form-control" multiple="multiple" >
				<option value="null">Seleccione una opción</option>
				<option value="null">Seleccione una opción</option>
				<option value="null">Seleccione una opción</option>
			</select>
		</div>
		<div class="col-xs-12 col-md-4">
			<label>Presupuesto</label>
			<select id="budget" class="form-control" >
				<option value="null">Seleccione una opción</option>
			</select>
		</div>
		<div class="col-xs-12 col-md-4">
			<label>Estado</label>
			<select id="statusOrder" class="form-control" >
				<option value="null">Seleccione una opción</option>
			</select>
		</div>
	</div>

	<br>
	<br>
	<br>
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<button class="btn btn-primary pull-right" type="submit" title="">
				<span class="fa fa-search"></span> 
				Buscar
			</button>
		</div>
	</div>

</form>
<hr>


<table id="resultsTemplate" class="table table-striped table-hover" style="display: none">
  <thead>
    <tr>
      <th>Acción</th>
      <th>Estado</th>
      <th>Nro. Pedido</th>
      <th>Secretaria</th>
      <th>Persona</th>
      <th>Tipo</th>
      <th colspan="2">Item</th>
      <th>Cantidad</th>
      <th>Valor Pedido</th>
      <th>Fecha Entrega</th>
      <th>Hora Entrega</th>
      <th>Dirección</th>
      <th>Presupuesto</th>
      <th>Fecha de Pedido</th>
      <th>Observación</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>


<script src="app/model/search/search.js" async='false'></script>
<script src="app/controller/search/search.js" async='false'></script>